body {
    background: url('../images/2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}
.container {
    margin: 100px;
    padding: 50px;
}
.img-circle {
    border-radius: 50%;
    display: block;
    margin-left: 50%;
    width: 230px;
}
.details {
    margin: 60px;
    border: 8px solid orange;
}
td {
    color: #80ffcc;
    font-size: 25px;
    margin: 50px;
    padding: 10px;
    padding-left: 100px;
}
table {
    position: absoulte;
    padding: 20px;
}